<div class="col-sm-9">
    <% article = Article.last %>
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2><%= article.title %></h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by <%= article.user.username %> on <%= article.created_at %> </h5>
    <h5><span class="label label-danger"><%= %></span></h5>
    <p><%= article.description %></p>
</div>
